
  .banner-dark {
    background: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    p {
      font-family: 'Quicksand-Regular';
      color: #ffffff;
      font-size: 16px;
      span {
        font-family: 'Quicksand-Medium';
        margin-right: 3px;
      }
    }
  }

  
  .gray-manifest {
    background: #ababab;
    padding: 5px 0;
    .contentbox-manifest {
      display: flex;
      justify-content: center;
      align-items: center;
      .contentbox-img {
        background: #ffffff;
        color: #000;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        overflow: hidden;
        .carga-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  
  .mainmenu-button-back {
    background: none;
    color: #004e98;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    font-size: 25px;
    outline: 0;
    padding: 0px 10px;
  }
  