<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Promocion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="banner-dark">
    <p><span>Titulo:</span>{{promo.title}}</p>
  </section>
  <ion-grid>
      <ion-row>
        <ion-col size="12" class="contenttext-guiedetail">
          <p><span>Id:</span>{{promo.id}}</p>
          <p><span>Direccion:</span>{{promo.address}}</p>
          <p><span>Latitud:</span>{{promo.longitude}}</p>
          <p><span>Longitud:</span>{{promo.latitude}}</p>
          <br>
          <p><span>Precio:</span>Q. {{promo.price}}</p>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
