<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promociones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- inicio elemento guia -->
    <ion-row *ngFor="let promocion of promociones; let index=index; let odd=odd; let even=even;" class="" (click)="verDetalle(promocion)"  [ngClass]="{ 'white-manifest': odd, 'gray-manifest': even }"> <!--gray-manifest-->
      <ion-col size="2" class="contentbox-manifest">
        <div class="contentbox-img">
          {{promocion.id}}
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="contentbox-text__manifest">
          <p><span>Titulo:</span>{{promocion.title}}</p>
          <p><span>Precio:</span>{{promocion.price}}</p>
          <p><span>Direccion:</span>{{promocion.address}}</p>
          <p><span>Latitud, Longitud:</span>{{promocion.latitude}}, {{promocion.longitude}}</p>
        </div>
      </ion-col>
      <ion-col size="1" class="contentbox-button">
        <ion-icon color="primary" name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- fin elemento guia -->
    <ion-row *ngIf="!moreresults">
      <ion-col size="12" class="website-combexim">
        <p>No hay mas resultados</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
